.unity-canvas{
    width:75vw;
    aspect-ratio:16/9;
}
.page-scale{
    padding-bottom:200px;
}
.fullscreen-button{
    display:block;
    margin:20px auto;
}
.page-scale img{
    width:80vw;
    height:auto;
    display:block;
    margin:0 auto;
}
.description {
    text-align:left;
    padding-left:2vw;
}