.history-button{
  border-radius:30px;
  background-color:#646cff;
}
.product-item{
    width:400px;
    height:400px;
    border:1px solid rgb(222, 222, 255);
    border-radius:10px;
    box-shadow:2px 2px 4px rgba(91, 113, 172, 0.1);
    background-color:rgb(15, 18, 56);
    margin:40px auto;
}
.product-item h3{
    text-align:center;
    text-decoration-color: aliceblue;
}
.product-item img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-color:rgb(222, 222, 255);
    border-top:2px solid rgb(222, 222, 255);
    border-bottom:2px solid rgb(222, 222, 255);
}
.product-item p{
    text-align:start;
    text-decoration-color: aliceblue;
}
.product-item a{
    text-align:end;
}
.product-link{
    text-decoration:none;
    color:inherit;
    display:inline-block;
}