.history-button{
  border-radius:30px;
  background-color:#646cff;
}
.history-button:hover{
    box-shadow:
    0 0 6px #646cff,
    0 0 14px #646cff,
    0 0 22px rgba(100,108,255,0.6);
  transform:translateY(-2px);
}
.product-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
    gap:40px;
    max-width:1000px;
    margin:40px auto;
    margin-left:10vw;
    margin-right:10vw;
}
.product-link{
    text-decoration:none;
    color:inherit;
    width:100%;
    height:400px;
    border:1px solid rgb(222, 222, 255);
    border-radius:10px;
    background-color:rgb(15, 18, 56);
    display:inline-block;
}
.product-link:hover{
    box-shadow:
        0 0 4px #00f0ff,
        0 0 8px #00f0ff,
        0 0 12px rgba(0,240,255,0.6);
    transition:0.2s;
    transform:translateY(-1px);
}
.product-link h3{
    text-align:center;
    text-decoration-color: aliceblue;
}
.product-link img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-color:rgb(222, 222, 255);
    border-top:2px solid rgb(222, 222, 255);
    border-bottom:2px solid rgb(222, 222, 255);
    margin-bottom:0px;
}
.product-link p{
    text-align:start;
    text-decoration-color: aliceblue;
    margin-top:3px;
    margin-bottom:3px;
}
.partition-line{
    border:none;
    height:1px;
    background-color:#aaa;
    margin:0px;
}
.technology-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    
}
.technology-item{
    align-self:flex-start;
    background-color: #1e2270;
    margin-top:3px;
    padding:3px;
    border:1px solid #cfcfcf;
    border-radius:16px;
    font-size:14px;
    margin-left:3px;   
}