.model-canvas{
    width:80vw;
    height:auto;
    aspect-ratio:16/9;
    margin-left:10vw;
    margin-right:10vw;
    border:3px solid aliceblue;
    border-radius:5px;
}
.page-scale{
    padding-bottom:200px;
}