#root {
  max-width: 1280px;
  margin: 0 auto;
  padding:0;
  text-align: center;
  background-color: #242424;
}
body{
  padding:0;
  margin:0;
}
.slider{
  overflow:hidden;
  white-space:nowrap;
  width:100%;
  margin-left:calc(50% - 50vw);
  background:#111;
  padding:0px 0;
}
.slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
  will-change:transform;
  width:max-content;
}
.slide-img{
  width:auto;
  height:300px;
  margin:0 0px;
  border: 1px solid rgb(222, 222, 255);
  border-radius:1px;
}
@keyframes scroll{
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(-50%);
  }
}
.iconList{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:20px;
}
.icon{
  width:50px;
  height:50px;
}
button{
  border-radius:10px;
  background-color:#646cff;
}