#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.slider{
  overflow:hidden;
  white-space:nowrap;
  width:100%;
  background:#111;
  padding:10px 0;
}
.slide-track {
  display: flex;
  width: calc(200px * 16);
  animation: scroll 20s linear infinite;
}
.slide-img{
  width:150px;
  margin:0 20px;
  border-radius:12px;
}
@keyframes scroll{
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(-50%);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
